@charset "UTF-8";
/* Body defaults */
/* Shapes */
/* Forms */
/* Colors */
/* -- Buttons */
/* -- Messages */
.accordion dt a, .accordion dd {
  padding: 0.5em 0.75em; }
.accordion dt, .accordion dd {
  border: 1px solid Gainsboro; }
.accordion dt {
  border-radius: 0.125rem;
  margin-top: 1rem; }
  .accordion dt a {
    display: block;
    text-decoration: none; }
    .accordion dt a:hover {
      background: WhiteSmoke; }
    .accordion dt a::after {
      content: '▸';
      margin-left: .5em; }
  .accordion dt.open {
    border-bottom-color: WhiteSmoke;
    border-radius: 0.125rem 0.125rem 0 0; }
    .accordion dt.open a::after {
      content: '▾'; }
    .accordion dt.open + dd {
      display: block; }
.accordion dd {
  margin: 0;
  display: none;
  border-top: none;
  border-radius: 0 0 0.125rem 0.125rem; }

.breadcrumbs {
  list-style: none;
  padding: 0; }
  .breadcrumbs li:not(:last-child) {
    margin-right: .5em; }
    .breadcrumbs li:not(:last-child)::after {
      content: '▸';
      color: Silver;
      margin-left: .5em; }
  .breadcrumbs a {
    text-decoration: none; }

button,
.button,
.menu > a {
  border: none;
  border-radius: 0.125rem;
  color: White;
  display: inline-block;
  padding: 0.5em 0.75em;
  text-decoration: none;
  transition: background .25s; }
  button, button.loading, button.loading:hover,
  .button,
  .button.loading,
  .button.loading:hover,
  .menu > a,
  .menu > a.loading,
  .menu > a.loading:hover {
    background: CornflowerBlue; }
  button:hover,
  .button:hover,
  .menu > a:hover {
    background: #1f66e5; }
  button.secondary,
  .button.secondary,
  .menu > a.secondary {
    background: Gainsboro;
    color: #4d4d4d; }
    button.secondary:hover,
    .button.secondary:hover,
    .menu > a.secondary:hover {
      background: #b6b6b6; }
  button.success,
  .button.success,
  .menu > a.success {
    background: LimeGreen; }
    button.success:hover,
    .button.success:hover,
    .menu > a.success:hover {
      background: #28a428; }
  button.caution,
  .button.caution,
  .menu > a.caution {
    background: DarkOrange; }
    button.caution:hover,
    .button.caution:hover,
    .menu > a.caution:hover {
      background: #d97700; }
  button.alert,
  .button.alert,
  .menu > a.alert {
    background: Crimson; }
    button.alert:hover,
    .button.alert:hover,
    .menu > a.alert:hover {
      background: #ad102f; }
  button[disabled], button.disabled,
  .button[disabled],
  .button.disabled,
  .menu > a[disabled],
  .menu > a.disabled {
    color: #8d8d8d; }
    button[disabled], button[disabled]:hover, button.disabled, button.disabled:hover,
    .button[disabled],
    .button[disabled]:hover,
    .button.disabled,
    .button.disabled:hover,
    .menu > a[disabled],
    .menu > a[disabled]:hover,
    .menu > a.disabled,
    .menu > a.disabled:hover {
      background: Silver; }
  button.disabled, button.loading,
  .button.disabled,
  .button.loading,
  .menu > a.disabled,
  .menu > a.loading {
    cursor: default; }

.button-group li:not(:first-child) {
  margin-left: 1px; }
.button-group li button,
.button-group li .button {
  border-radius: 0; }
.button-group li:first-child button, .button-group li:first-child .button {
  border-radius: 0.125rem 0 0 0.125rem; }
.button-group li:last-child button, .button-group li:last-child .button {
  border-radius: 0 0.125rem 0.125rem 0; }

input,
select {
  border: 1px solid Gainsboro;
  border-radius: 0.125rem;
  box-sizing: border-box;
  height: 2em;
  padding: 0.375rem;
  position: relative;
  width: 100%;
  z-index: 1; }

.required {
  color: Crimson;
  display: inline;
  font-size: 0.8125em;
  line-height: normal; }

.error {
  opacity: 0;
  background: Crimson;
  border-radius: 0 0 0.125rem 0.125rem;
  color: White;
  font-size: 0.8125em;
  margin-top: -0.125rem;
  padding: 0.25em 0.375rem 0.125em;
  transition: opacity .25s; }

.invalid + .error {
  opacity: 1; }

.row {
  margin: 1rem 0; }
  .row:before, .row:after {
    content: ' ';
    display: table; }
  .row:after {
    clear: both; }
  .row .row {
    margin: 1rem -1rem; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
.col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  box-sizing: border-box;
  float: left;
  padding: 0 1rem; }

.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

.show {
  display: block !important; }

.hide {
  display: none !important; }

@media (max-width: 992px) and (min-width: 769px) {
  .medium-1 {
    width: 8.33333%; }

  .medium-2 {
    width: 16.66667%; }

  .medium-3 {
    width: 25%; }

  .medium-4 {
    width: 33.33333%; }

  .medium-5 {
    width: 41.66667%; }

  .medium-6 {
    width: 50%; }

  .medium-7 {
    width: 58.33333%; }

  .medium-8 {
    width: 66.66667%; }

  .medium-9 {
    width: 75%; }

  .medium-10 {
    width: 83.33333%; }

  .medium-11 {
    width: 91.66667%; }

  .medium-12 {
    width: 100%; }

  .medium-show {
    display: block !important; }

  .medium-hide {
    display: none !important; } }
@media (max-width: 768px) {
  .small-1 {
    width: 8.33333%; }

  .small-2 {
    width: 16.66667%; }

  .small-3 {
    width: 25%; }

  .small-4 {
    width: 33.33333%; }

  .small-5 {
    width: 41.66667%; }

  .small-6 {
    width: 50%; }

  .small-7 {
    width: 58.33333%; }

  .small-8 {
    width: 66.66667%; }

  .small-9 {
    width: 75%; }

  .small-10 {
    width: 83.33333%; }

  .small-11 {
    width: 91.66667%; }

  .small-12 {
    width: 100%; }

  .small-show {
    display: block !important; }

  .small-hide {
    display: none !important; } }
.inline,
.breadcrumbs,
.button-group {
  list-style: none;
  padding: 0; }
  .inline:before, .inline:after,
  .breadcrumbs:before,
  .breadcrumbs:after,
  .button-group:before,
  .button-group:after {
    content: ' ';
    display: table; }
  .inline:after,
  .breadcrumbs:after,
  .button-group:after {
    clear: both; }
  .inline > li,
  .breadcrumbs > li,
  .button-group > li {
    float: left; }

.inline > li:not(:last-child) {
  margin-right: 1em; }
.inline > li.right {
  float: right;
  margin-right: 0; }

.menu {
  position: relative; }
  .menu > a {
    position: relative;
    z-index: 1; }
    .menu > a::after {
      content: '▾';
      margin-left: .75em; }
  .menu.open > a {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  .menu.open ul {
    display: block; }
  .menu ul {
    list-style: none;
    padding: 0;
    display: none;
    position: absolute;
    background: White;
    border: 1px solid Gainsboro;
    border-radius: 0 0.125rem 0.125rem 0.125rem;
    margin-top: -1px; }
    .menu ul a {
      display: block;
      padding: 0.5em 0.75em;
      text-decoration: none;
      transition: background .25s;
      white-space: nowrap; }
      .menu ul a:hover {
        background: WhiteSmoke; }
    .menu ul li:not(:first-child) {
      border-top: 1px solid Gainsboro; }
  .menu.right ul {
    right: 0;
    border-radius: 0.125rem 0 0.125rem 0.125rem; }

.message {
  background: #edf3fd;
  border: 1px solid Gainsboro;
  border-color: CornflowerBlue;
  border-radius: 0.125rem;
  margin: 1rem 0;
  padding: 0.5em 0.75em; }
  .message a:hover {
    text-decoration: none; }
  .message, .message a {
    color: #103d8e; }
  .message.success {
    background: #ebfaeb;
    border-color: LimeGreen; }
    .message.success, .message.success a {
      color: #196719; }
  .message.caution {
    background: #fff3e5;
    border-color: DarkOrange; }
    .message.caution, .message.caution a {
      color: #804600; }
  .message.alert {
    background: #fef1f4;
    border-color: Crimson; }
    .message.alert, .message.alert a {
      color: #7f0b22; }

.modal,
#modal-screen {
  display: none;
  position: fixed; }

.modal {
  background: White;
  border-radius: .5rem;
  box-sizing: border-box;
  left: 50%;
  top: 25%;
  margin-left: -25%;
  padding: .25rem 1.5rem 1.5rem;
  width: 50%;
  z-index: 2; }
  .modal.open {
    display: block; }
  .modal .close {
    color: Gainsboro;
    float: right;
    font-weight: bold;
    text-decoration: none; }
    .modal .close::before {
      content: '×'; }
    .modal .close:hover {
      color: #b6b6b6; }
  .modal .cancel {
    float: right;
    margin: .75rem 0 .75rem .75rem; }

html,
body,
#modal-screen {
  height: 100%; }

body {
  min-height: 100%; }

#modal-screen {
  background: rgba(0, 0, 0, 0.625);
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
.loading {
  min-height: 2rem;
  position: relative; }
  .loading::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1.5rem;
    height: 1.5rem;
    margin: -1.125rem 0 0 -1.125rem;
    border: .375rem solid transparent;
    border-radius: 100%;
    border-top-color: Silver;
    -webkit-animation: spin 1.25s infinite linear;
    animation: spin 1.25s infinite linear; }

button.loading, .button.loading {
  min-height: 0; }
  button.loading::before, .button.loading::before {
    border-top-color: rgba(255, 255, 255, 0.375); }

.tabs {
  padding-right: 0;
  position: relative; }
  .tabs a {
    border: 1px solid Gainsboro;
    border-color: transparent;
    padding: 0.5em 0.75em;
    text-decoration: none; }
    .tabs a:not(.active):hover {
      background: WhiteSmoke; }
  .tabs:not(.inline) {
    border-right: 1px solid Gainsboro;
    margin-right: -1px; }
    .tabs:not(.inline) + div {
      border-left: 1px solid Gainsboro; }
    .tabs:not(.inline) a {
      display: block;
      border-radius: 0.125rem 0 0 0.125rem;
      margin-right: -1px; }
      .tabs:not(.inline) a:hover {
        border-right-color: Gainsboro; }
      .tabs:not(.inline) a.active {
        border-color: Gainsboro White Gainsboro Gainsboro; }
  .tabs.inline {
    border-bottom: 1px solid Gainsboro;
    margin-bottom: -1px; }
    .tabs.inline a {
      display: inline-block;
      border-radius: 0.125rem 0.125rem 0 0;
      margin-bottom: -1px; }
      .tabs.inline a:hover {
        border-bottom-color: Gainsboro; }
      .tabs.inline a.active {
        border-color: Gainsboro Gainsboro White Gainsboro; }

.tab-content {
  display: none; }

.tooltip {
  background: White;
  display: none;
  box-sizing: border-box;
  position: absolute;
  width: 20em;
  border: 1px solid Gainsboro;
  border-radius: 0.125rem;
  margin: 1rem 0 0 -10em;
  padding: 0.5em 0.75em; }
  .tooltip.open {
    display: block; }
  .tooltip::before, .tooltip::after {
    content: '';
    position: absolute;
    top: -1rem;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -1rem;
    border-color: transparent;
    border-style: solid;
    border-width: 0 1rem 1rem; }
  .tooltip::before {
    border-bottom-color: #c3c3c3; }
  .tooltip::after {
    border-bottom-color: White;
    margin-top: 1px; }

body {
  background: White;
  font: 1em/1.4em Sans-serif;
  color: #4d4d4d; }

h1, h2, h3, h4, h5, h6, b, strong {
  font-weight: normal;
  color: Black; }

h1, h2, h3, h4, h5, h6 {
  line-height: normal; }

ul, ol {
  padding-left: 1.5em; }

code {
  font-family: Menlo, Consolas, Monospace; }

a.active {
  color: #4d4d4d;
  cursor: default;
  text-decoration: none; }
