extends index

block scripts
  script(type="text/javascript" src="js/disabled.js")

block title
  title phew | buttons

block content
  h1 Buttons

  ul.inline
    li
      button Default
    li
      button.secondary Secondary
    li
      button.success Success
    li
      button.caution Caution
    li
      button.alert Alert
    li
      button.disabled Disabled
    li
      button.loading Loading

  h2 Link buttons

  ul.inline
    li
      a(href="#").button Default
    li
      a(href="#").secondary.button Secondary
    li
      a(href="#").success.button Success
    li
      a(href="#").caution.button Caution
    li
      a(href="#").alert.button Alert
    li
      a(href="#").disabled.button Disabled
    li
      a(href="#").loading.button Loading

  h2 Button group

  ul.button-group
    li
      a(href="#").button Link button
    li
      button.secondary Secondary button
    li
      a(href="#").secondary.button Secondary link button
