extends index

block title
  title phew | grid

block content
  h1 Grid

  .message.medium-hide.small-hide Using <strong>default</strong> size. Try resizing the window.
  .message.hide.medium-show Using <strong>medium</strong> size. Try resizing the window.
  .message.hide.small-show Using <strong>small</strong> size. Try resizing the window.

  .row.small-hide
    .col-12
      code .small-hide &gt; .col-12

  .row
    .col-4
      code .col-4
    .col-4
      code .col-4
    .col-4
      code .col-4

  .row
    .col-3.medium-6.small-12
      code .col-3.medium-6.small-12
    .col-3.medium-6.small-12
      code .col-3.medium-6.small-12
    .col-3.medium-6.small-12
      code .col-3.medium-6.small-12
    .col-3.medium-6.small-12
      code .col-3.medium-6.small-12
