doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block title
      title phew
    link(rel="stylesheet" type="text/css" href="css/normalize.css")
    link(rel="stylesheet" type="text/css" href="css/app.css")
    script(type="text/javascript" src="js/jquery-2.1.1.js")
    script(type="text/javascript" src="js/tabs.js")
    block scripts

  mixin nav(active = '')
    each component in ['accordion','breadcrumbs','buttons','form','grid','menu','messages','modal','spinner','tooltip','type']
      li= component

  body
    .row
      .col-2.medium-3.small-4
        nav
          ul
            li
              a(href="accordion.html") Accordion
            li
              a(href="breadcrumbs.html") Breadcrumbs
            li
              a(href="buttons.html") Buttons
            li
              a(href="form.html") Form
            li
              a(href="grid.html") Grid
            li
              a(href="menu.html") Menu
            li
              a(href="messages.html") Messages
            li
              a(href="modal.html") Modal
            li
              a(href="spinner.html") Spinner
            li
              a(href="tooltip.html") Tooltip
            li
              a(href="type.html") Type

      .col-10.medium-9.small-8
        block content
