.message This is the default message. 
  a(href="#") Do something

.caution.message This is the caution message. 
  a(href="#") Do something

.alert.message This is the alert message. 
  a(href="#") Do something

.success.message This is the success message. 
  a(href="#") Do something
