extends index

block title
  title phew | modal

block scripts
  script(type="text/javascript" src="js/modal.js")

block content
  h1 Modal

  .message <code>a[data-modal-id]</code> and <code>.modal[id]</code> need to match.
    | It doesn’t matter where the elements are placed in the document.

  p
    a(href="#" data-modal-id="the-modal") Opens a modal

  .modal#the-modal
    h2
      a(href="#").close
      | The modal title

    p Are you sure you want to do something bad?

    a(href="#").cancel Cancel
    button.alert Do it
