extends index

block title
  title phew | type

block content
  h1 Type

  .tabs.inline
    a(href="#hierarchy") Hierarchy
    a(href="#lists") Lists

  .tab-content#hierarchy
    h1 Headline 1
    h2 Headline 2
    h3 Headline 3
    h4 Headline 4
    h5 Headline 5
    h6 Headline 6
    p Paragraph
    p
      code Code

  .tab-content#lists
    .row
      .col-4
        ul
          li List item 1
            ul
              li List item 1a
              li List item 1b
              li List item 1c
          li List item 2
          li List item 3

      .col-4
        ol
          li List item 1
            ol
              li List item 1a
              li List item 1b
              li List item 1c
          li List item 2
          li List item 3

      .col-4
        h4
          code ul.listless
        ul.listless
          li List item 1
          li List item 2
          li List item 3
