@charset "UTF-8";
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  to {
    transform: rotate(360deg); } }
@-webkit-keyframes fade-in {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }
@keyframes fade-in {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }
@-webkit-keyframes fade-out {
  from {
    opacity: 1; }

  to {
    opacity: 0;
    visibility: hidden; } }
@keyframes fade-out {
  from {
    opacity: 1; }

  to {
    opacity: 0;
    visibility: hidden; } }
/* http://nicolasgallagher.com/micro-clearfix-hack/ */
/* Globals */
/* Button / tab colors */
/* Type colors */
body, input, textarea {
  font-family: 'Helvetica Neue', 'Calibri', sans-serif;
  line-height: 1.375em;
  color: #222222; }

a {
  text-decoration: none;
  color: royalblue; }
  a:visited {
    color: purple; }
  a:hover {
    /* TODO */
    color: #273F87; }

h1, h2, h3, h4, h5, h6, ul, ol, p {
  margin: 1rem 0 0; }

h1, h2, h3, h4, h5, h6, .tabs {
  font-weight: 300;
  line-height: normal; }
  h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong, .tabs strong {
    font-weight: normal; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2.6em; }

h3 {
  font-size: 2.2em; }

h4 {
  font-size: 1.8em; }

h5, .tabs {
  font-size: 1.4em; }

h6 {
  font-size: 1em; }

.msg.info {
  color: cornflowerblue; }
.msg.caution {
  color: orange; }
.msg.alert {
  color: tomato; }
.msg.success {
  color: limegreen; }
.msg.disabled {
  color: silver; }

.dim {
  color: silver; }

a.button {
  display: inline-block; }

button {
  border: none;
  position: relative; }
  button.loading::after {
    position: absolute;
    content: '';
    left: 50%;
    top: 50%;
    width: 1.375em;
    height: 1.375em;
    margin-left: -0.9375em;
    margin-top: -0.9375em;
    border: .25em solid transparent;
    border-top-color: rgba(255, 255, 255, 0.25);
    border-radius: 100%;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite; }
  button[disabled], button[disabled]:hover {
    background: silver; }

button,
a.button {
  padding: 0.5em 0.75em;
  border-radius: 0.25em;
  color: White; }
  button, button.loading, button.loading:hover,
  a.button,
  a.button.loading,
  a.button.loading:hover {
    background: #527ecc; }
  button:hover,
  a.button:hover {
    background: cornflowerblue; }
  button.caution, button.caution.loading, button.caution.loading:hover,
  a.button.caution,
  a.button.caution.loading,
  a.button.caution.loading:hover {
    background: #e69e19; }
  button.caution:hover,
  a.button.caution:hover {
    background: orange; }
  button.alert, button.alert.loading, button.alert.loading:hover,
  a.button.alert,
  a.button.alert.loading,
  a.button.alert.loading:hover {
    background: #e24c31; }
  button.alert:hover,
  a.button.alert:hover {
    background: tomato; }
  button.success, button.success.loading, button.success.loading:hover,
  a.button.success,
  a.button.success.loading,
  a.button.success.loading:hover {
    background: #3ea73e; }
  button.success:hover,
  a.button.success:hover {
    background: limegreen; }

.crumbs a:hover {
  background: none; }
.crumbs li::after {
  content: '/';
  color: Gainsboro; }
.crumbs li:last-child::after {
  content: none; }
.crumbs li:last-child a {
  color: #222222; }
  .crumbs li:last-child a:hover {
    cursor: default; }

.dropdown.button::after {
  margin-left: .375em;
  content: '▾'; }
.dropdown + * {
  background: White;
  position: absolute;
  display: none;
  z-index: 1;
  margin-top: 1em; }
  .dropdown + *::before, .dropdown + *::after {
    position: absolute;
    content: '';
    left: 50%; }
  .dropdown + *::before {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid gainsboro;
    top: -12px;
    margin-left: -12px; }
  .dropdown + *::after {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    top: -10px;
    margin-left: -10px; }
.dropdown.open + * {
  display: block; }
.dropdown + div {
  border: 1px solid gainsboro;
  border-radius: 0.25em;
  padding: 0.5em 0.75em; }

.expand::after {
  content: '▸';
  margin-left: .25em; }
.expand + * {
  -webkit-transition: height .5s;
  transition: height .5s;
  position: absolute;
  visibility: hidden;
  overflow: hidden; }
.expand.open::after {
  content: '▾'; }
.expand.open + * {
  position: relative;
  visibility: visible; }

label {
  cursor: pointer; }
  fieldset label {
    display: block; }

form .error {
  visibility: hidden;
  background: tomato;
  color: White;
  font-size: .875em;
  line-height: 1.375em;
  padding: .125em .5em; }

input:not([type=checkbox]):not([type=radio]),
textarea,
fieldset,
select {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: .25em;
  border: 1px solid gainsboro;
  border-radius: 0.25em; }
  input:not([type=checkbox]):not([type=radio]).invalid,
  textarea.invalid,
  fieldset.invalid,
  select.invalid {
    border-radius: 0.25em 0.25em 0 0; }
    input:not([type=checkbox]):not([type=radio]).invalid + .error,
    textarea.invalid + .error,
    fieldset.invalid + .error,
    select.invalid + .error {
      border-radius: 0 0 0.25em 0.25em;
      visibility: visible;
      -webkit-animation: fade-in 0.5s;
      animation: fade-in 0.5s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }

input:not([type=checkbox]):not([type=radio]),
select {
  height: 2em; }

fieldset {
  position: relative;
  margin: 1.375em 0 0;
  padding: .5em; }

legend {
  position: absolute;
  top: -1.375em;
  left: 0;
  margin-top: -2px; }

input[type=checkbox],
input[type=radio] {
  margin-right: .5em; }

textarea {
  height: 5em; }

.r::after {
  content: " ";
  display: table;
  clear: both; }

.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12 {
  box-sizing: border-box;
  float: left;
  margin-top: 1em;
  padding: 0 1em; }
  .r .c1:first-child, .r .c2:first-child, .r .c3:first-child, .r .c4:first-child, .r .c5:first-child, .r .c6:first-child, .r .c7:first-child, .r .c8:first-child, .r .c9:first-child, .r .c10:first-child, .r .c11:first-child, .r .c12:first-child {
    padding-left: 0; }
  .r .c1:last-child, .r .c2:last-child, .r .c3:last-child, .r .c4:last-child, .r .c5:last-child, .r .c6:last-child, .r .c7:last-child, .r .c8:last-child, .r .c9:last-child, .r .c10:last-child, .r .c11:last-child, .r .c12:last-child {
    padding-right: 0; }

.c1 {
  width: 8.33333%; }

.c2 {
  width: 16.66667%; }

.c3 {
  width: 25%; }

.c4 {
  width: 33.33333%; }

.c5 {
  width: 41.66667%; }

.c6 {
  width: 50%; }

.c7 {
  width: 58.33333%; }

.c8 {
  width: 66.66667%; }

.c9 {
  width: 75%; }

.c10 {
  width: 83.33333%; }

.c11 {
  width: 91.66667%; }

.c12 {
  width: 100%; }

.r .c12 {
  padding-left: 0;
  padding-right: 0; }

.no {
  display: none !important; }

@media (min-width: 768px) and (max-width: 1279px) {
  .c1m {
    width: 8.33333%; }

  .c2m {
    width: 16.66667%; }

  .c3m {
    width: 25%; }

  .c4m {
    width: 33.33333%; }

  .c5m {
    width: 41.66667%; }

  .c6m {
    width: 50%; }

  .c7m {
    width: 58.33333%; }

  .c8m {
    width: 66.66667%; }

  .c9m {
    width: 75%; }

  .c10m {
    width: 83.33333%; }

  .c11m {
    width: 91.66667%; }

  .c12m {
    width: 100%; }

  .r .c12m {
    padding-left: 0;
    padding-right: 0; }

  .nom {
    display: none !important; } }
@media (max-width: 767px) {
  .c1s {
    width: 8.33333%; }

  .c2s {
    width: 16.66667%; }

  .c3s {
    width: 25%; }

  .c4s {
    width: 33.33333%; }

  .c5s {
    width: 41.66667%; }

  .c6s {
    width: 50%; }

  .c7s {
    width: 58.33333%; }

  .c8s {
    width: 66.66667%; }

  .c9s {
    width: 75%; }

  .c10s {
    width: 83.33333%; }

  .c11s {
    width: 91.66667%; }

  .c12s {
    width: 100%; }

  .r .c12s {
    padding-left: 0;
    padding-right: 0; }

  .nos {
    display: none !important; } }
/* Lists */
nav ul,
.dropdown + ul,
.toolbar,
.tabs,
.inline,
.listless {
  list-style: none;
  padding: 0; }

.toolbar,
.tabs {
  display: inline-block; }
  .vertical .toolbar, .vertical
  .tabs {
    display: block; }

header ul {
  margin-top: 0; }

/* List items */
nav ul::after,
.toolbar::after,
.tabs::after,
.inline::after {
  content: " ";
  display: table;
  clear: both; }
nav ul li,
.toolbar li,
.tabs li,
.inline li {
  float: left; }

.vertical li,
.dropdown + ul li {
  float: none; }

.inline > li {
  padding: 0.5em 0.75em; }
  .inline > li:first-child {
    padding-left: 0; }
  .inline > li:last-child {
    padding-right: 0; }

/* List links */
nav a,
.toolbar a,
.tabs a,
.dropdown + ul a {
  display: inline-block;
  padding: 0.5em 0.75em; }
  nav a:hover,
  .toolbar a:hover,
  .tabs a:hover,
  .dropdown + ul a:hover {
    background: #e6ecf5; }
  nav a.active,
  .toolbar a.active,
  .tabs a.active,
  .dropdown + ul a.active {
    background: lightsteelblue;
    color: White;
    cursor: default; }

.vertical a,
.dropdown + ul a {
  display: block; }

/* Borders */
.toolbar,
.tabs,
.dropdown + ul {
  border-radius: 0.25em;
  border-width: 1px; }
  .toolbar, .toolbar li,
  .tabs,
  .tabs li,
  .dropdown + ul,
  .dropdown + ul li {
    border-style: solid;
    border-color: gainsboro; }
  .toolbar li,
  .tabs li,
  .dropdown + ul li {
    border-width: 0 0 0 1px; }
    .toolbar li:first-child,
    .tabs li:first-child,
    .dropdown + ul li:first-child {
      border: none; }

.vertical .toolbar li,
.vertical .tabs li,
.dropdown + ul li {
  border-width: 1px 0 0; }
  .vertical .toolbar li:first-child,
  .vertical .tabs li:first-child,
  .dropdown + ul li:first-child {
    border: none; }

html, body, #overlay {
  height: 100%; }

#overlay, .modal {
  position: fixed;
  visibility: hidden; }
  #overlay.fade-in, .modal.fade-in {
    visibility: visible;
    -webkit-animation: fade-in 0.5s;
    animation: fade-in 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
  #overlay.fade-out, .modal.fade-out {
    visibility: visible;
    -webkit-animation: fade-out 0.5s;
    animation: fade-out 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }

#overlay {
  width: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0; }

.modal {
  max-width: 75%;
  z-index: 2;
  background: White;
  padding: 1em;
  border-radius: 0.25em; }
  .modal .close {
    font-size: 1.4em;
    font-weight: bold;
    color: silver;
    position: absolute;
    top: .5em;
    right: .75em; }
    .modal .close:hover {
      color: #8d8d8d; }

.switches label {
  position: relative;
  padding-left: 2.25em; }
  .switches label::before, .switches label::after {
    content: '';
    height: 1em;
    border-radius: 1em;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: .125em; }
  .switches label::before {
    width: 1.75em;
    border: 1px solid gainsboro;
    margin-right: .5em; }
  .switches label::after {
    background: lightsteelblue;
    width: 1em; }
.switches input {
  display: none; }
  .switches input:checked + label::after {
    background: cornflowerblue;
    left: .75em; }

[data-tab] {
  display: none; }

.cf::after {
  content: " ";
  display: table;
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }
