input:not([type=checkbox]):not([type=radio]),
select,
fieldset {
  border: $stroke;
  border-radius: $radius;
  box-sizing: border-box;
}

fieldset {
  margin: 0;
  padding: .25rem .5rem .75rem;

  ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 .25rem;
  }
}

legend {
  padding: 0 .25rem;
}

input:not([type=checkbox]):not([type=radio]),
select {
  height: 2em;
  padding: $input-padding;
  position: relative;
  width: 100%;
  z-index: 1;
}

label,
input[type=checkbox],
input[type=radio] {
  cursor: pointer;
}

.required {
  color: $alert-color;
  display: inline;
  font-size: $error-font-size;
  line-height: normal;
}

.error {
  opacity: 0;
  background: $alert-color;
  border-radius: 0 0 $radius $radius;
  color: $bg;
  font-size: $error-font-size;
  margin-top: -$radius;
  padding: .25em $input-padding .125em;
  transition: opacity .25s;
}

.invalid + .error {
  opacity: 1;
}
