.inline,
.breadcrumbs,
.button-group {
  @include clearfix;
  list-style: none;
  padding: 0;

  > li {
    float: left;
  }
}

.inline > li {
  &:not(:last-child) {
    margin-right: 1em;
  }

  &.right {
    float: right;
    margin-right: 0;
  }
}
