.tabs {
  padding-right: 0;
  position: relative;

  a {
    border: $stroke;
    border-color: transparent;
    padding: $padding;
    text-decoration: none;

    &:not(.active):hover {
      background: $menu-hover-color;
    }
  }

  &:not(.inline) {
    border-right: $stroke;
    margin-right: -1px;

    + div {
      border-left: $stroke;
    }

    a {
      display: block;
      border-radius: $radius 0 0 $radius;
      margin-right: -1px;

      &:hover {
        border-right-color: $stroke-color;
      }

      &.active {
        border-color: $stroke-color $bg $stroke-color $stroke-color;
      }
    }
  }

  &.inline {
    border-bottom: $stroke;
    margin-bottom: -1px;

    a {
      display: inline-block;
      border-radius: $radius $radius 0 0;
      margin-bottom: -1px;

      &:hover {
        border-bottom-color: $stroke-color;
      }

      &.active {
        border-color: $stroke-color $stroke-color $bg $stroke-color;
      }
    }
  }
}

.tab-content {
  display: none;
}
