body {
  background: $bg;
  font: $font;
  color: $color;
}

h1, h2, h3, h4, h5, h6, b, strong {
  font-weight: $bold-weight;
  color: $bold-color;
}

h1, h2, h3, h4, h5, h6 {
  line-height: normal;
}

ul, ol {
  padding-left: 1.5em;
}

code {
  font-family: Menlo, Consolas, Monospace;
}
